body {
    /*background-image: url('images/home.jpg');*/
    background-repeat: repeat-y;
    width: 100%;
}

.navbar-inverse {
    background-color: #3b173da8;
    border-color: #3b173da8;
}

    .navbar-inverse .navbar-brand {
        color: white;
    }

a:hover {
    color: #50546d;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}
h2 {
    color: white;
}

label {
    color: white;
}

span {
    color: #673ab7;
    font-weight: bold;
}

.container {
    margin-top: 3%;
    width: 60%;
    background-color: #26262b9e;
    padding-right: 10%;
    padding-left: 10%;
}

.btn-primary {
    background-color: #673AB7;
}

.display-chat {
    height: 300px;
    background-color: #d69de0;
    margin-bottom: 4%;
    overflow: auto;
    padding: 15px;
}

.message {
    background-color: #c616e469;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 3%;
}
